@font-face {
  font-family: "BMEULJIRO";
  src: url("./assets/BMEULJIRO.otf");
}

@font-face {
  font-family: "Chosun";
  src: url("./assets/ChosunCentennial_ttf.ttf");
}

* {
  box-sizing: content-box;
}

body {
  margin: 0 auto;
  background-image: url("./assets/background_paper.png");
  background-size: cover;
  font-family: "BMEULJIRO";
  height: 90vh;
  min-width: 270px;
}

#root {
  text-align: center;
  position: static;
  padding-bottom: 60px;
}

/* 
필요한 폰트 스타일

**주황색**
1. My Page의 AZTI type 표시할 글씨 (크게)
2. Resto 정보에 가게 이름 (중간)

**파란색**
1. Resto 카드에 들어가는 텍스트

-------
rgb(227 187 105);
rgb(217 93 65);
*/

.title-text-lg {
  font-size: 36px;
  color: rgb(217 93 65);
  /* -webkit-text-stroke: 0.01rem rgb(227 187 105); */
  margin-bottom: 2vh;
  font-weight: 500;
}

.title-text-md {
  font-size: 28px;
  color: rgb(217 93 65);
  /* -webkit-text-stroke: 0.01rem rgb(227 187 105); */
  margin-bottom: 2vh;
}

.content-text-lg {
  font-family: "Chosun";
  font-size: 32px;
  color: rgb(2 49 119);
  font-weight: bold;
}

.content-text-md {
  font-family: "Chosun";
  font-size: 20px;
  color: rgb(2 49 119);
  font-weight: bold;
}

.content-text-sm {
  font-family: "Chosun";
  font-size: 16px;
  color: rgb(2 49 119);
  font-weight: bold;
}

.kill-scroll::-webkit-scrollbar {
  display: none;
}
